<div class="page-header">
	<form method="get" action="/browse/search">
	    <div class="input-group">
	      <input type="text" name="q" class="form-control input-lg" placeholder="Search...">
	      
	      <input type="hidden" name="limit" value="10">
	      <input type="hidden" name="offset" value="0">

	      <span class="input-group-btn">
	        <button class="btn btn-primary input-lg" type="submit">Search</button>
	      </span>
	    </div><!-- /input-group -->
	</form>
</div>


<div class="row">
  <div class="col-lg-12">
	<h2>Home</h2>
	<h2>TBD</h2>
  </div>
</div>