<div class="page-header">
	<h2>{{title}}</h2>
</div>

<div class="row">
  <div class="col-lg-4">
	   <p>TBD</p>
  </div>
  <div class="col-lg-4">
	   <p>TBD</p>
  </div>
  <div class="col-lg-4">
	   <div class="panel panel-info">
      <div class="panel-body">      
        <a class="btn btn-primary btn-lg btn-block" href="/guest_checkout/start" >Guest Checkout </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
	<div class="well">
	<p>TBD</p>
	</div>
  </div>
</div>